




#about-header {
  background-image: url("images/background2020.png");
  background-size: cover;
  #clickme {
    h3 {
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      border: none;
    }
    background-color: rgb(85,78,255);
    border-radius: 5px;
  }
  button:focus {
    outline: none;
  }
}