.con-moodboard {
  width: 800px;
  display: flex;
  align-content: center;
  margin: auto auto 80px;
  padding: 0;
}

#IdeationConcierge {
  height: 230vh;
}

#concierge-header {
  #cs-header {
    background-image: url('concierge-imgs/travel-hero-img.jpg');
  }
}
