.con-moodboard {
  width: 800px;
  display: flex;
  align-content: center;
  margin: auto auto 80px;
  padding: 0;
}

#IdeationConcierge {
  height: 230vh;
}

.hero-img-concierge {
  transform: scale(1.2);
  margin-top: -50px;
}
