
.shape-background {
  #background-shapes {
    width: 100vw;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
}
footer {
  position: absolute;
  width: 100%;
  .home-footer {
    position: relative;
    width: 100%;
    div i {
      padding: 15px;
    }
  }
}


.cs-sec {
  height: 100vh;
  margin-bottom: 50px;

}

.landing-content {
  display: flex;
  justify-content: center;
  #intro {
    z-index: 100;
    margin: auto;
  }
}

.img-scrolled {
  opacity: 1;
  transform: none;
  transition: opacity .50s ease-in, transform 1s ease-in;
}

.text-scrolled {
  opacity: 1;
  transform: translateY(0);
  transition: .75s ease-in;
}


.cs-content-left {
  text-align: left;
  margin: 50% 0 auto 30%;
  a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    position: absolute;
    z-index: 600;
  }
}

.cs-content-right {
  margin: 60% auto auto 0;
  text-align: left;
  a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    position: absolute;
    z-index: 600;
  }
}
.cs-sec-shape {
  margin: auto;
}


#door-shape {
  img {
    opacity: 0;
    height: 550px;
    margin-right: 400px;
    position: relative;
    z-index: 2;
  }
}

#half-circle {
  img {
    height: 550px;
    position: relative;
    left: 350px;
  }
}

.cs-sec-shape{
  text-align: center;
}

#circle {
  img {
    height: 550px;
    position: relative;
    left: 400px;
  }
}

#rectangle {
  img {
    height: 600px;
    position: relative;
    right: 300px;
  }
}

#triangle {
  img {
    height: 700px;
    position: relative;
    right: 400px;
  }
}
#concierge-mockup {
  transform: translateY(50px);
  img {
    height: 500px;
    position: absolute;
    margin-top: 30px;
    left: 50px;
  }
}

#upcomer-mockup {
  img {
    height: 500px;
    position: absolute;
    z-index: 120;
    margin-top: 30px;
    right: 50px;
  }
}

#choisi-mockup {
  img {
    height: 450px;
    position: absolute;
    z-index: 120;
    right: 550px;
    margin-top: 80px;
  }
}

#trkx-mockup {
  img {
    height: 450px;
    position: absolute;
    z-index: 120;
    left: 600px;
  }
}

#brgr-mockup {
  img {
    height: 450px;
    position: absolute;
    z-index: 120;
    right: 600px;
    margin-top: 120px;
  }
}

.home-footer {
  position: absolute;
  z-index: 102;
  height: 60px;
  bottom: 0;
}
