#trkx-header {
  #cs-header {
    background-image: url('trkx-imgs/blue-truck-mountains.jpg');
    background-position-y: -230px;
  }
}

.sec-container-lrg {
  .col-2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .trkx-concepts {
      img {
        width: 450px;
        margin-top: 40px;
      }
    }
  }
}

