
#up-header {
  #cs-header {
    background-image: url("up-imgs/playVs_hero-pressed.jpg");
  }
}


.app-screen {
  width: 280px;
}

.center img {
  text-align: center;
}

.designs-up {
  padding-left: 120px;
  padding-right: 120px;
  .add-space {
    margin-top: 50px;
  }
  .text-chunk {
    padding-top: 100px;
  }
  ul {
    padding: 0 0 0 20px;
    margin: 0;
  }
  .center div img {
    margin-left: 150px;
  }
}

.process-imgs {
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 80px;
  .grid-3a {
    padding-top: 0;
  }
}

#Ideation {
  margin-top: 200px;
  .grid-2c {
    .up-design-3 {
      img {
        width: 200px;
      }
    }
    .up-design-2 {
      img {
        width: 220px;
        margin-top: -120px;
        margin-left: -10px;
      }
    }
    .up-design-4 {
      img {
        width: 350px;
        margin-left: -60px;
      }
    }
  }
}

#prototype-vid2 {
  margin-left: 250px;
}