@charset "UTF-8";
body, html {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background-color: #F7F7F7;
  scroll-behavior: smooth;
}

.sec-container {
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 50px;
  height: 100%;
  overflow-y: hidden;
}
.sec-container .grid-1-wrap {
  margin: 0;
}
.sec-container h1 {
  margin-bottom: 30px;
}

.sec-container-lrg {
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 0;
  height: 200vh;
}
.sec-container-lrg .grid-1-wrap {
  margin: 0;
}

section {
  display: block;
  height: 100vh;
  width: 100%;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

ul, li {
  list-style: disc;
}

h1 {
  font-family: "urbane", sans-serif;
  font-size: 55px;
  font-weight: 600;
  color: #222222;
  margin: 0;
  cursor: default;
}

h2 {
  font-family: "urbane", sans-serif;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

h3 {
  font-family: "urbane", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

h4 {
  font-family: "urbane", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  margin-top: 0.5em;
}

p {
  font-family: "urbane", sans-serif;
  font-size: 15px;
  font-weight: 300;
  cursor: default;
}

b {
  font-family: "urbane", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-top: 0.5em;
}

.grey {
  color: #969A97;
}

.num-circle {
  width: 30px;
  height: 30px;
  font-family: "urbane", sans-serif;
  font-weight: bolder;
  color: white;
  border-radius: 50%;
  line-height: 1.9em;
  text-align: center;
}

.fa-chevron-right {
  margin-left: 10px;
}

.text-chunk {
  padding-top: 0;
  padding-left: 70px;
  padding-right: 70px;
  line-height: 1.7em;
}

.text-chunk-1 {
  line-height: 1.7em;
}

.text-chunk-2 {
  margin-right: 120px;
  line-height: 1.7em;
}

.text-chunk-3 {
  line-height: 2em;
  text-align: center;
  padding-right: 60px;
  padding-left: 60px;
}

.text-chunk-sm {
  padding-right: 30px;
  padding-left: 30px;
  line-height: 1.7em;
}

.text-chunk-4 {
  padding: 0 70px 70px;
  line-height: 1.7em;
}

.icon {
  width: 60px;
}

.arch {
  width: 80px;
}

.persona-icon {
  padding-top: 10px;
  width: 70px;
}

i {
  padding-left: 10px;
  padding-right: 10px;
  z-index: 700;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.logo-wrapper {
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 600;
  transition: ease;
}
.logo-wrapper .logo {
  position: relative;
  height: 90px;
  margin: 30px;
}

.arrow img {
  position: absolute;
  z-index: 102;
  height: 15px;
  margin-left: 5px;
  margin-top: 13px;
}

#Research {
  padding-bottom: 200px;
}
#Research div h1 {
  margin-top: 40px;
  margin-bottom: 0;
}
#Research div .research-blurb {
  margin-top: 0;
  padding-bottom: 10px;
  width: 75%;
}

#Analysis {
  padding-bottom: 200px;
}
#Analysis div h1 {
  margin: 0;
}
#Analysis div .grid-4 h2 {
  margin-top: 17px;
}
#Analysis div .text-chunk-1 {
  margin-top: 0;
  padding-bottom: 10px;
}

.preview-window-wrap {
  text-align: center;
}
.preview-window-wrap .grid-1 {
  display: block;
  text-align: left;
}
.preview-window-wrap .grid-1 div {
  height: 80px;
  position: relative;
}
.preview-window-wrap .grid-1 a {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  color: #000;
  z-index: 500;
}
.preview-window-wrap .preview-window-container {
  background-color: white;
  height: 450px;
  object-fit: contain;
  overflow: hidden;
  max-width: 780px;
  display: flex;
  position: relative;
  box-shadow: 0 0 17px 0 rgba(199, 199, 199, 0.6);
}
.preview-window-wrap .preview-window-container .preview-content {
  position: absolute;
  display: none;
  top: 0;
}
.preview-window-wrap .preview-window-container img {
  height: 450px;
}

.cs-header-wrap {
  position: relative;
  height: 100vh;
  margin-bottom: 100px;
  z-index: 0;
  width: 100%;
}
.cs-header-wrap .cs-overview {
  display: flex;
  background: linear-gradient(0deg, #f7f7f7 40%, rgba(236, 236, 239, 0.9) 100%);
  position: absolute;
  height: 40vh;
  z-index: 1;
  bottom: 0;
  width: 100%;
}
.cs-header-wrap #over-view-margin {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 40px;
}
.cs-header-wrap #over-view-margin h3, .cs-header-wrap #over-view-margin p {
  text-align: left;
}

.add-shadow {
  box-shadow: 0 0 17px 0 rgba(199, 199, 199, 0.6);
}

#BehindResults h1 {
  margin-bottom: 0;
}

.highlight {
  position: relative;
  cursor: default;
}
.highlight:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 7px;
  right: -3px;
  left: -3px;
  height: 20px;
  z-index: -1;
  background-color: lightcoral;
  transform: scaleX(0);
  visibility: hidden;
  transform-origin: right;
  transition: 0.4s transform cubic-bezier(0, 0.01, 0, 1), visibility 0s 0.4s;
}
.highlight:hover:after {
  transform: scaleX(1);
  visibility: visible;
  transform-origin: left;
  transition: 0.2s transform cubic-bezier(0, 0.01, 0, 1);
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
footer .col-3 {
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
footer .col-3 .social-icons {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  cursor: pointer;
}
footer .col-3 .fab:hover {
  color: rgba(110, 106, 254, 0.7);
}
footer .col-3 #copyright {
  font-size: 10px;
}

@media screen and (max-width: 425px) {
  footer {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  footer p {
    font-size: 12px;
    margin: 5px;
  }
  footer .col-3 {
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
  }
  footer .col-3 .social-icons {
    width: 50%;
    margin: auto;
    padding-top: 5px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer .col-3 .social-icons .fa-2x {
    font-size: 1em;
  }
}
.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.grid-1a {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: transparent;
  width: 100%;
}

.grid-2a {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: transparent;
  width: 70%;
  margin-left: 100px;
}

.grid-2b {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: transparent;
  width: 100%;
  column-gap: 40px;
}

.grid-2c {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.grid-2d {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: transparent;
  width: 95%;
}

.mobile-grid-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.grid-3a {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 60px;
}

.grid-3e {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 60px;
}

.grid-3b {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 50px;
}

.grid-4a {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 20px;
  padding-left: 20px;
}

.col-1 {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.col-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

.btn {
  border-radius: 4px;
  background: transparent !important;
  border: none;
  color: black;
  text-align: center;
  font-size: 14px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 10px 5px 5px -18px;
  z-index: 1000;
  text-transform: capitalize;
  padding: 20px 20px 20px 20px;
}

.btn h3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  transition: 0.3s;
}

.btn h3:after {
  content: "›";
  position: absolute;
  opacity: 0;
  top: -2px;
  right: 5px;
  transition: 0.3s;
  transform: scale(1.5);
}

.btn:hover {
  background-color: #6F6AFF !important;
  margin: -10px 5px 5px 0px;
}

.btn:hover h3 {
  padding-right: 20px;
  color: #FFFFFF;
}

.btn:hover h3:after {
  opacity: 1;
  right: 0;
}

.grid-1 .btn {
  margin: 10px 5px 5px -30px;
}
.grid-1 .btn:hover {
  background: #222222 !important;
  margin: 10px 5px 5px 0;
}

.btn-L .btn {
  padding-right: 0;
}
.btn-L .btn:hover {
  padding-right: 20px;
}

.btn-1 {
  border-radius: 4px;
  background: transparent !important;
  border: none;
  color: black;
  text-align: center;
  font-size: 14px;
  width: 200px;
  padding: 10px 10px 10px 10px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 0 0 5px -5px;
  z-index: 1004;
  text-transform: capitalize;
}

.btn-1 h3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  transition: 0.4s;
}

.btn-1 h3:after {
  content: "›";
  position: absolute;
  opacity: 0;
  top: -2px;
  right: 5px;
  transition: 0.5s;
  transform: scale(1.5);
}

.btn-1:hover {
  background-color: #6F6AFF !important;
  margin: 10px 5px 5px 10px;
  padding: 10px 10px 10px 10px;
}

.btn-1:hover h3 {
  padding-right: 20px;
  color: #FFFFFF;
}

.btn-1:hover h3:after {
  opacity: 1;
  right: 0;
}

#burger {
  width: 2em;
  height: 1em;
  position: fixed;
  top: 50px;
  right: 50px;
  display: block;
  z-index: 5000;
  cursor: pointer;
}
#burger .line {
  display: block;
  background: black;
  width: 2em;
  height: 0.1em;
  position: absolute;
  left: 0;
  border-radius: 0.05em;
  transition: all 0.3s;
}
#burger .line.line-1 {
  top: 0;
}
#burger .line.line-2 {
  top: 50%;
}
#burger .line.line-3 {
  top: 100%;
}
#burger:hover .line, #burger:focus .line {
  background: black;
}
#burger.active {
  position: fixed;
}
#burger.active .line-1 {
  top: 0;
  left: 5px;
  width: 30px;
  transform: translateY(0.5em) translateX(0) rotate(45deg);
  z-index: 40;
  background: black;
}
#burger.active .line-2 {
  border-radius: 50%;
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
  transform: translateY(-20px) rotate(180deg);
}
#burger.active .line-3 {
  top: 16px;
  left: 5px;
  width: 30px;
  background: black;
  transform: translateY(-0.5em) translateX(0) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  #burger {
    top: 50px;
    right: 50px;
    position: absolute;
  }
}
#choisi-header #cs-header {
  background-image: url("choisi-imgs/SS-18-Slide.jpg");
}

.scrolled #burger .line {
  background: #000000;
}

.shop-look-img {
  position: absolute;
  z-index: 20;
  margin: 50px;
}

.shop-look-img-zoomed {
  z-index: 15;
  margin: 50px;
}

.scroll-title {
  width: 25vw;
  height: 40px;
  background-color: pink;
  z-index: -20;
}

.research-icon {
  width: 40px;
}

.arch {
  padding-top: 20px;
}

.mockup-text-wrap {
  position: relative;
}

.research-types {
  margin-top: 100px;
  margin-bottom: 140px;
}

.down {
  padding-top: 70px;
  margin-bottom: 0;
}

.design-1 {
  width: 300px;
}

.design-2 {
  width: 280px;
  margin-left: 20px;
  margin-top: 70px;
}

.design-3 {
  width: 200px;
  margin-left: 100px;
  margin-top: -40px;
}

.design-4 {
  width: 240px;
  margin-left: 20px;
  margin-top: 15px;
}

.design-imgs {
  margin-top: 100px;
}

.shop-look-1 {
  width: 400px;
  z-index: 10;
}

.shop-look {
  width: 250px;
  margin-top: -300px;
  margin-left: 200px;
  z-index: 20;
  position: absolute;
  border: rgba(0, 0, 0, 0.3);
}

.editor {
  width: 400px;
  margin-left: 70px;
  margin-top: 270px;
  position: absolute;
}

.editor-1 {
  width: 350px;
}

.product-img {
  width: 500px;
  margin-left: 57.5px;
}

.testimonials-img {
  width: 400px;
  z-index: 20;
  margin-top: -120px;
}

.img-fix {
  padding-right: 50px;
  margin-left: -40px;
  padding-top: 40px;
}

.challenge-text {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 100px;
}

.back-img {
  width: 550px;
  margin-top: 70px;
}

.unselected {
  color: lightgrey;
  position: absolute;
  z-index: 500;
  transition: ease;
}

/* add a empty string after the element with class .slide */
.unselected:hover {
  transition: ease 0.04s;
  color: black;
}

.active-2 {
  color: black;
}

.process-div {
  display: flex;
  justify-content: center;
}
.process-div img {
  width: 1100px;
  margin-top: 50px;
}

.preview-text-wrap {
  position: relative;
}
.preview-text-wrap .preview-text-chunks {
  padding-left: 40px;
  margin-right: 0;
  text-align: left;
  position: absolute;
  display: none;
}

.home-page-wrap {
  display: flex;
  justify-content: center;
  align-content: center;
}

.designs {
  padding-left: 120px;
  padding-right: 120px;
  height: 217vh;
}
.designs .add-space {
  margin-top: 50px;
}

.designs-1 {
  padding-left: 120px;
  padding-right: 120px;
  height: 235vh;
}
.designs-1 .add-space {
  margin-top: 50px;
}

.designs-2 {
  padding-left: 120px;
  padding-right: 120px;
  height: 221vh;
}
.designs-2 .add-space {
  margin-top: 50px;
}

.designs-3 {
  padding-left: 120px;
  padding-right: 120px;
  height: 220vh;
}
.designs-3 .add-space {
  margin-top: 50px;
}
.designs-3 .grid-2c .text-chunk-4 {
  margin-top: -430px;
}
.designs-3 .finish-look-img {
  margin-top: -240px;
}

.arrow img {
  position: absolute;
  z-index: 102;
  height: 15px;
  margin-left: 10px;
}

.flex {
  display: flex;
}

.overview-text {
  display: flex;
  justify-content: center;
  align-content: center;
}
.overview-text div {
  position: relative;
}

.ideation .text-chunk {
  margin-top: 100px;
}

#design-phases img {
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0 12px 17px 0 rgba(199, 199, 199, 0.52);
}

.editors-picks-img {
  margin-top: -80px;
}

.takeaways {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50vh;
}

#brgr-header #cs-header {
  background-image: url("brgr-imgs/brgr-hero-img-2020-1.jpg");
  background-size: cover;
  width: 100vw;
}

.brgr-ideation-img img {
  width: 500px;
}

.mockup-img-redesign {
  margin-bottom: 80px;
}

.add-padding {
  margin-top: 80px;
}

.add-padding-1 {
  margin-top: 120px;
}

#prototype-vid video {
  width: 760px;
  margin-top: 10px;
}

#final-thoughts {
  padding-top: 150px;
}

#up-header #cs-header {
  background-image: url("up-imgs/playVs_hero.jpg");
}

.app-screen {
  width: 280px;
}

.center img {
  text-align: center;
}

.designs-up {
  padding-left: 120px;
  padding-right: 120px;
}
.designs-up .add-space {
  margin-top: 50px;
}
.designs-up .text-chunk {
  padding-top: 100px;
}
.designs-up ul {
  padding: 0 0 0 20px;
  margin: 0;
}
.designs-up .center div img {
  margin-left: 150px;
}

.process-imgs {
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 80px;
}
.process-imgs .grid-3a {
  padding-top: 0;
}

#Ideation {
  margin-top: 200px;
}
#Ideation .grid-2c .up-design-3 img {
  width: 200px;
}
#Ideation .grid-2c .up-design-2 img {
  width: 220px;
  margin-top: -150px;
  margin-left: -10px;
}
#Ideation .grid-2c .up-design-4 img {
  width: 350px;
  margin-left: -60px;
}

#prototype-vid2 {
  margin-left: 250px;
}

#about-header {
  background-image: url("images/background2020.png");
  background-size: cover;
}
#about-header #clickme {
  background-color: #554eff;
  border-radius: 5px;
}
#about-header #clickme h3 {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}
#about-header button:focus {
  outline: none;
}

#trkx-header #cs-header {
  background-image: url("trkx-imgs/blue-truck-mountains.jpg");
}

.sec-container-lrg .col-2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.sec-container-lrg .col-2 .trkx-concepts img {
  width: 450px;
  margin-top: 40px;
}

.con-moodboard {
  width: 800px;
  display: flex;
  align-content: center;
  margin: auto auto 80px;
  padding: 0;
}

#overviewSec {
  margin-top: 10%;
}

#IdeationConcierge {
  height: 100vh;
}
#IdeationConcierge h1 {
  margin-bottom: 30px;
}

#concierge-header #cs-header {
  background-image: url("concierge-imgs/travel-hero-img.jpg");
}

#cs-header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
}
#cs-header #cs-overview {
  width: 100vw;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.95);
  bottom: 0;
  position: absolute;
}
#cs-header #cs-overview h3 {
  font-weight: 300;
}
#cs-header #cs-overview .col-2 {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#cs-header #cs-overview .col-2 .col-2 {
  height: 100%;
  width: 100%;
}
#cs-header #cs-overview .col-1 {
  width: 80%;
  height: 95%;
  margin-left: 0;
  margin-top: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  #cs-header {
    top: 0;
    width: 100vw;
    height: 50%;
  }
  #cs-header #cs-overview {
    width: 100vw;
    height: 1vh;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    position: absolute;
    grid-template-columns: 1fr 1fr;
  }
  #cs-header #cs-overview .col-2 {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    width: 90%;
    height: 100%;
    padding-top: 10px;
    margin: auto;
  }
  #cs-header #cs-overview .col-2 div {
    margin-top: auto;
    margin-bottom: auto;
  }
  #cs-header #cs-overview .col-2 .col-2 {
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }
  #cs-header #cs-overview .col-2 .col-2 h4 {
    margin: auto;
    font-size: 10px;
    text-transform: uppercase;
  }
  #cs-header #cs-overview .col-2 .col-1 {
    margin: 0;
    row-gap: 20px;
  }
  #cs-header #cs-overview .col-2 .col-1 h4 {
    margin: 0;
  }

  .artifact-view .preview-window-container {
    width: 400px;
    height: 250px;
  }
  .artifact-view .preview-window-container img {
    width: 400px;
    height: 250px;
  }
  .artifact-view .col-2 {
    grid-template-columns: 1fr;
  }
  .artifact-view .col-4 {
    grid-template-columns: 1fr;
    height: 100px;
  }
  .artifact-view .col-4 div a h2 {
    font-size: 20px;
  }

  #designs .col-3 {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #Ideation .col-2 .col-3 {
    grid-template-columns: 1fr;
  }

  .designs-up .col-2 {
    grid-template-columns: 1fr;
  }
  .designs-up .col-2 .col-2 {
    grid-template-columns: 1fr 1fr;
  }

  .sec-container .grid-4 {
    grid-template-columns: 1fr 1fr;
  }
  .sec-container .grid-2d {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 2560px) {
  #home-body {
    background-image: url("images/background2020.png");
    background-size: cover;
  }

  header {
    scroll-behavior: auto;
    height: 100vh;
  }
  header #intro-2020 {
    width: 80%;
    height: 30%;
    margin: 13% auto auto;
  }
  header nav {
    height: 100px;
    width: 100vw;
    top: 0;
    position: relative;
  }
  header nav #logo-wrap {
    width: 75px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
  }
  header nav #logo-wrap img {
    margin: 20px;
    z-index: 1000;
  }
  header #menu {
    top: 0;
    background-color: white;
    position: fixed;
    height: 100vh;
    width: 40%;
    z-index: 3000;
    transition: 0.3s ease-in;
    transform: translateX(250%);
  }
  header #menu #navSelections {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 40px;
  }
  header #menu #navSelections div {
    text-align: center;
  }
  header #menu #menuContent {
    width: 100%;
  }
  header #menu #menuContent .menu-item {
    width: 75%;
    margin: auto;
  }

  main section {
    height: 100%;
  }
  main section .col-2 {
    grid-template-columns: 2fr 1fr;
    height: 100vh;
  }
  main section .col-2 .text-chunk-mobile {
    cursor: default;
    width: 350px;
    text-align: left;
    margin: auto auto auto 0;
  }
  main section .col-2 .mobile-mockup {
    width: 100%;
    margin: auto auto auto 80px;
  }
  main section .col-2 .mobile-mockup img {
    width: 800px;
  }
  main section .col-2 .laptop-mockup {
    width: 100%;
    margin: auto;
  }
  main section .col-2 .laptop-mockup img {
    width: 800px;
    margin-left: 100px;
  }
  main .hide-mobile .col-2 {
    grid-template-columns: 1fr 2fr;
  }
  main .hide-mobile .col-2 .text-chunk-mobile {
    width: 350px;
    text-align: right;
    margin: auto 0 auto auto;
  }
  main .hide-mobile .col-2 .laptop-mockup img {
    margin-left: 100px;
  }
  main .hide-desktop {
    display: none;
  }

  .tab-fade .hyperlink {
    text-decoration: underline;
    background: rgba(110, 106, 254, 0.7);
  }

  .services, .contact {
    display: none;
  }
  .services .col-2, .contact .col-2 {
    column-gap: 20px;
    row-gap: 20px;
  }
  .services .col-2 .nav-sq-img, .contact .col-2 .nav-sq-img {
    display: flex;
    justify-content: center;
    align-content: center;
    transition: 0.3s ease-in;
  }
  .services .col-2 .nav-sq-img a, .contact .col-2 .nav-sq-img a {
    text-decoration: none;
    text-align: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    color: #000;
  }
  .services .col-2 .nav-sq-img a img, .contact .col-2 .nav-sq-img a img {
    width: 100%;
    height: 150px;
    border-radius: 3px;
    object-fit: cover;
    z-index: 1001;
    filter: brightness(90%);
    transition: 0.3s ease-in;
  }
  .services .col-2 .nav-sq-img a h3, .contact .col-2 .nav-sq-img a h3 {
    text-align: center;
    position: absolute;
    z-index: 5000;
    margin-top: 50px;
    color: #ffffff;
    transition: 0.3s ease-in;
  }
  .services .col-2 .nav-sq-img:hover a, .contact .col-2 .nav-sq-img:hover a {
    transition: 0.3s ease-in;
  }
  .services .col-2 .nav-sq-img:hover a h3, .contact .col-2 .nav-sq-img:hover a h3 {
    opacity: 1;
    transform: scale(1.1);
  }
  .services .col-2 .nav-sq-img:hover a img, .contact .col-2 .nav-sq-img:hover a img {
    filter: brightness(60%);
    transition: 0.3s ease-in;
  }

  .contact .tab-fade {
    padding-inline-start: 0;
    display: block;
    background-color: white;
    width: 100%;
    border-radius: 3px;
    margin: 0;
    z-index: 4000;
  }
  .contact .tab-fade label {
    font-family: "urbane", sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 5px;
  }
  .contact .tab-fade input {
    font-size: 14px;
    padding: 8px;
    outline: 0;
    width: 100%;
    margin: 0 0 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
  }
  .contact .tab-fade input:focus,
.contact .tab-fade textarea:focus {
    box-shadow: inset 0 0 8px -1px #828282;
    transition: all 0.3s ease-in-out;
  }
  .contact .tab-fade button {
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    background: rgba(110, 106, 254, 0.7);
    margin: 0;
    width: 100%;
    color: white;
  }
  .contact .tab-fade textarea {
    font-size: 14px;
    width: 100%;
    height: 200px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 0 0 10px;
  }

  .slide {
    display: flex;
    align-content: normal;
    z-index: 40;
    content: "";
    height: 10px;
    position: relative;
    background: rgba(110, 106, 254, 0.2);
    width: 90%;
    transition: all 0.2s ease-in-out;
  }
  .slide h2 {
    margin-top: -14px;
    margin-left: 5px;
    font-size: 18px;
  }

  .slide:hover {
    background: rgba(110, 106, 254, 0.7);
  }

  .active-1 {
    background: rgba(110, 106, 254, 0.7);
  }

  .behind {
    z-index: 400;
  }

  .open {
    transform: translateX(150%) !important;
    box-shadow: 0 0 33px 4px rgba(0, 0, 0, 0.4);
  }
}
@media screen and (max-width: 1300px) {
  main section .col-2 {
    grid-template-columns: 2fr 1fr;
    height: 100vh;
  }
  main section .col-2 .text-chunk-mobile {
    width: 350px;
    text-align: left;
    margin: auto auto auto 0;
  }
  main section .col-2 .mobile-mockup {
    width: 100%;
    margin: 0;
  }
  main section .col-2 .mobile-mockup img {
    width: 800px;
    margin-left: 50px;
  }
  main section .col-2 .laptop-mockup {
    width: 100%;
    margin: 0;
  }
  main section .col-2 .laptop-mockup img {
    width: 800px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 1024px) {
  main section {
    height: 90vh;
  }
  main section .col-2 {
    grid-template-columns: 2fr 1fr;
    height: 90vh;
  }
  main section .col-2 .text-chunk-mobile {
    width: 290px;
    text-align: left;
    margin: auto auto auto 0;
  }
  main section .col-2 .mobile-mockup {
    width: 100%;
    margin: auto;
  }
  main section .col-2 .mobile-mockup img {
    width: 800px;
    margin: auto 0 auto 0;
  }
  main section .col-2 .laptop-mockup {
    width: 100%;
    margin: auto;
  }
  main section .col-2 .laptop-mockup img {
    width: 800px;
    margin: auto 0 auto 0;
  }
  main .hide-mobile .col-2 {
    grid-template-columns: 1fr 2fr;
    height: 90vh;
  }
  main .hide-mobile .col-2 .text-chunk-mobile {
    width: 290px;
    text-align: right;
    margin: auto 0 auto auto;
  }
  main .hide-mobile .col-2 .laptop-mockup {
    margin: auto;
  }
  main .hide-mobile .col-2 .laptop-mockup img {
    margin-left: 0;
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  header #intro-2020 {
    width: 80%;
    margin: 30% auto auto;
  }
  header nav #logo-wrap {
    position: absolute;
  }
  header nav #logo-wrap img {
    margin: 20px;
    z-index: 1000;
  }
  header #menu {
    height: 100vh;
    width: 100vw;
    z-index: 3000;
    transition: 0.3s ease-in;
    transform: translateX(100%);
  }

  main section {
    height: 100vh;
  }
  main section .col-2 {
    grid-template-columns: 1fr;
    height: 100vh;
  }
  main section .col-2 .text-chunk-mobile {
    width: 350px;
    text-align: center;
    margin: auto auto auto 0;
  }
  main section .col-2 .text-chunk-mobile {
    margin: 0 auto auto;
  }
  main section .col-2 .mobile-mockup {
    width: 85%;
    margin: auto;
  }
  main section .col-2 .mobile-mockup img {
    width: 100%;
    margin-left: 0;
  }
  main section .col-2 .laptop-mockup {
    width: 85%;
    margin: auto;
  }
  main section .col-2 .laptop-mockup img {
    width: 100%;
    margin-left: 0;
  }
  main .hide-desktop {
    display: block;
  }
  main .hide-desktop .col-2 {
    grid-template-columns: 1fr;
    height: 80vh;
  }
  main .hide-desktop .col-2 .text-chunk-mobile {
    width: 350px;
    text-align: center;
    margin: 0 auto auto auto;
  }
  main .hide-desktop .col-2 .mobile-mockup {
    margin-bottom: 0;
  }
  main .hide-desktop .col-2 .mobile-mockup img {
    margin-left: 0;
    margin-bottom: 0;
  }
  main .hide-desktop .col-2 .laptop-mockup {
    margin-bottom: 0;
  }
  main .hide-desktop .col-2 .laptop-mockup img {
    margin-left: 0;
    margin-bottom: 0;
  }
  main .hide-mobile {
    display: none;
  }

  .open {
    transform: translateX(0%) !important;
  }
}
@media screen and (max-width: 425px) {
  header #intro-2020 {
    width: 80%;
    margin: 50% auto auto;
  }
  header #intro-2020 h1 {
    font-size: 32px;
  }
  header nav #logo-wrap img {
    margin: 20px;
    z-index: 1000;
  }
  header #menu {
    height: 100vh;
    width: 100vw;
    z-index: 3000;
    transition: 0.3s ease-in;
    transform: translateX(100%);
  }

  main section {
    height: 85vh;
  }
  main section .col-2 {
    grid-template-columns: 1fr;
    height: 85vh;
  }
  main .hide-desktop {
    display: block;
  }
  main .hide-desktop .col-2 {
    grid-template-columns: 1fr;
    height: 85vh;
  }
  main .hide-mobile {
    display: none;
  }

  .open {
    transform: translateX(0%) !important;
  }
  .open nav #burger.active-1 {
    position: fixed;
  }
}

/*# sourceMappingURL=main.css.map */
