
footer {
  padding-top: 30px;
  padding-bottom: 20px;
  .col-3 {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    .social-icons {
      width: 40%;
      margin-right: auto;
      margin-left: auto;
      padding-top: 15px;
      cursor: pointer;
    }
    .fab:hover {
      color: rgb(110,106,254,.70);
    }
    #copyright {
      font-size: $tab-h5;
    }
  }
}

@media screen and (max-width: 425px) {
  footer {
    padding-top: 15px;
    padding-bottom: 10px;
    p {
      font-size: 12px;
      margin: 5px;
    }
    .col-3 {
      grid-template-columns: 1fr;
      width: 100%;
      text-align: center;
      .social-icons {
        width: 50%;
        margin: auto;
        padding-top: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        .fa-2x {
          font-size: 1em;
        }
      }
    }
  }
}